.booking {
    background-color: #f2f2f2;

}

.booking__content {
    // TODO: 如果使用了max-width就不適合用百分比當單位
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 0;
}

.booking__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 2em;
    color: $brandcolor
}
.booking__block{
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
    }
    
    li {
        font-size: 18px;
        margin-right: 5%;
    }
}


.airport__block{
    display: flex;
    justify-content: space-between;
}


.airport {
    width: 45%;
    height: 40px;
}

.date_block {
    display: flex;
    justify-content: space-between;

    input[type="date"] {
        width: 45%;
        height: 40px;
        // margin-top: 60px;
    }
}

.member_block {
    display: flex;
    justify-content: space-between;
}

.member {
    width: 30%;
    height: 40px;
    // margin-top: 60px;
}

button {
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 60px;
    border-radius: 5px;
    background: linear-gradient(#217484, #0b4e5b);
    color: white;
}

.button {
    display: flex;
    justify-content: center;

}