.booking {
    background-color: #f2f2f2;

}

.booking__content {
    // TODO: 如果使用了max-width就不適合用百分比當單位
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 0;
}

.booking__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 2em;
    color: $brandcolor
}

.booking__block {
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
    }

    li {
        font-size: 18px;
        margin-right: 5%;
    }
}

.open-jaw{
    text-decoration-line: underline;
}

input[type="radio"] {
padding-right: 10px;
}

.airport__block,
.date__block,
.member__block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.airport__block__content {
    width: 45%;
}

.airport {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}


// .date__block {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
// }

.date__content {
    width: 45%;
}

input[type="date"] {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

// .member__block {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
// }

.member__block__content {
    width: 30%;
}

.member {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.booking__button-btn {
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 60px;
    border-radius: 5px;
    background: linear-gradient(#217484, #0b4e5b);
    color: white;
}


.booking__button {
    display: flex;
    justify-content: center;

}

@media screen and (max-width:1200px) {
    .booking__content {
        margin: 0 20px;
    }

    .airport,
    .member,
    input[type=date] {
        height: 40px;
    }

    .airport__block,
    .date__block,
    .member__block {
        margin-top: 10px;
    }

    .airport__block__content,
    .date__content {
        margin-top: 10px;
        width: 47%;
    }

    .member__block__content {
        margin-top: 10px;
    }

    .booking__button-btn{
        width: 35%;
        height: 3rem;
        font-size: 1.3rem;
    }

}

@media screen and (max-width:700px) {

    .airport,
    .member,
    input[type=date] {
        height: 35px;
    }

    .booking__button-btn{
        width: 100%;
        font-size: 1.2rem;
    }
}


@media screen and (max-width:480px) {

    .airport__block,
    .date__block,
    .member__block {
        flex-direction: column;
        margin-top: 5px;
    }


    .airport,
    .member,
    input[type=date] {
        height: 30px;
    }

    .airport__block__content,
    .date__content,
    .member__block__content {
        width: 100%;
    }

    // .booking__button-btn{
    //     width: 100%;
    //     // height: 3rem;
    //     font-size: 1.2rem;
    // }
}