.explore {
    // margin-bottom: 70px;
    margin: 0 20px;
}

.explore__container{
    max-width: 1270px;
    margin: 0 auto;
}

.explore__selectors__block{
    max-width: 1120px;
    margin: 0 auto;
}

.explore__title {
    display: flex;
    justify-content: center;
    margin: 70px 0 50px 0;
    font-size: 2em;
    color: $brandcolor
}

.explore__content {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;
}

.explore__arrow__prev {
    position: absolute;
    top: 50%;
    left: -5%;
    cursor: pointer;
}

.explore__arrow__next {
    position: absolute;
    top: 50%;
    right: -5%;
    cursor: pointer;
}

.explore__selectors ul {
    list-style: none;

    display: flex;
    justify-content: space-between;

    margin: 0 10px;

    li {
        width: 50%;
        text-align: center;
        border-right: 1px $secondcolor solid;
    }

    .explore__first {
        border-left: 1px $secondcolor solid;
    }
}

.explore__block {
    padding-top: 50px;
    margin: 0 10px;
}

.explore__block__text {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    // width: 320px;

    // :nth-last-child(1) {
    //     display: block; // 如果不是區塊元素的話，要加這一行
    //     overflow: hidden;
    //     display: -webkit-box;
    //     -webkit-box-orient: vertical;
    //     -webkit-line-clamp: 3; // N 填入要顯示的行數
    //     line-height: 20px; // X 填入行高 px 值
    //     height: 20px * 3; // 限定高度為 X * N 的 px 值
    // }
}

.explore__block__text :nth-last-child(1) {
    padding-top: 20px;
    text-align: left;
    font-size: 14px;
}

.explore__slide {
    display: flex;
    justify-content: space-between;
}


// TODO: 這邊只下span{}會變成全域設定，若以後在別的地方使用到span就會不小心套用到這個設定
// 若真的要做成全域設定，請把樣式放在base.scss裡面；或是在這邊使用.explore__block__text span{}來代替使用span{}
span {
    font-size: 14px;
}

@media screen and (max-width:800px) {
    .explore__selectors ul {
        flex-direction: column;
     
        .explore__first,li{
            border: none;
            width: 100%;
        }

        .explore__area{
            border-bottom: 1px $secondcolor solid;
            padding: 5px 0;
        }
    }

    .explore__selectors{
        display: flex;
        justify-content: center;
    }

}