.news {
    background-color: #ffffff;
}

.news__container {
    padding: 70px 20px 70px 20px;
}

.news__title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 2em;
    color: $brandcolor;
}

.news__content {
    max-width: 1100px;
    margin: 0 auto;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        size: 18px;
    }
}

.news__date {
    width: 160px;
    padding: 0 20px;
    text-align: left;
    margin: 15px 0;
}

.news__category {
    width: 110px;
    padding: 0 20px;
    text-align: center;
    border-left: 1px $secondcolor solid;
    border-right: 1px $secondcolor solid;
    margin: 15px 0;
}

.news__text {
    padding: 0 50px;
    margin: 15px 0;
}

.news__underline {
    max-width: 1100px;
    height: 1px;
    background-color: $brandcolor;

}

// @media screen and (max-width:700px) {

//     ul {
//         .news__text {
//             display: block;
//             justify-content: flex-start;
//         }

//     }
// }