.news {
    background-color: #ffffff;
}

.news__container {
    padding: 70px 20px 70px 20px;
}

.news__title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 2em;
    color: $brandcolor;
}

.news__content {
    max-width: 1100px;
    margin: 0 auto;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        size: 18px;
        padding: 15px 0;
        border-bottom: 1px $secondcolor solid;
    }
}

.news__date {
    width: 160px;
    padding: 0 20px;
    text-align: left;
}

.news__category {
    width: 110px;
    padding: 0 20px;
    text-align: center;
    border-left: 1px $secondcolor solid;
    border-right: 1px $secondcolor solid;
}

.news__text {
    padding: 0 50px;


    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 750px;
}

/*the second style of news content--testing*/

.news__containerII {
    max-width: 1100px;
    margin: 0 auto;

    display: none;
}

.news__contentII {
    max-width: 1100px;
    ul {
        list-style: none;
        display: flex;
        // justify-content: space-between;
        padding: 15px 0;
        // border-bottom: 1px $secondcolor solid;
        // li{
        //     width:100%;
        // }
    }
}

.news__dANDc {
    display: flex;
    justify-content: space-between;
}

.news__underline{
    max-width: 1100px;
    height:1px;
    background-color: $secondcolor;
}



@media screen and (max-width:800px){
    .news__content{
        display: none;
    }

    .news__containerII{
        display: flex;
    }

    .news__contentII ul{
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .news__dANDc {
        display: inline-flex;
        justify-content: flex-start;
    }
    .news__text{
        padding: 10px 0 10px 20px;
    }
}