@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  /*無法在定義全文字顏色後改變hover顏色*/
}
* li:hover, * span:hover {
  color: #217484;
  cursor: pointer;
}

.function-container {
  border-bottom: 1px #eeeeee solid;
}

.content-container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
}

.function-container__bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.function-container__ul {
  list-style: none;
  display: flex;
}
.function-container__ul li {
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.function-container__arrow {
  position: relative;
  top: -2px;
}

.function-container__search {
  position: absolute;
  right: 5px;
}

.function-container__facebook {
  font-size: 21px;
  color: darkblue;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  padding-right: 0;
}
.menu-container .menu__bar {
  font-size: 30px;
  color: #217484;
  /*為什麼不想變顏色呢*/
  display: none;
}
.menu-container img {
  width: 100%;
}

.menu-container__logo {
  display: flex;
}

.menu-container__content {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-container__content li {
  padding: 0 40px;
  border-right: 1px #464646 solid;
}
.menu-container__content a {
  text-decoration: none;
}
.menu-container__content a:hover {
  color: #217484;
}

@media screen and (max-width: 1200px) {
  .function-container {
    display: none;
  }

  .menu-container {
    padding: 7px;
  }
  .menu-container .menu__bar {
    display: block;
  }

  .menu-container__content {
    display: none;
  }

  .content-container {
    height: 45px;
  }
}
.booking {
  background-color: #f2f2f2;
}

.booking__content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 0;
}

.booking__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 2em;
  color: #217484;
}

.booking__block ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.booking__block li {
  font-size: 18px;
  margin-right: 5%;
}

.airport__block,
.date__block,
.member__block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.airport__block__content {
  width: 45%;
}

.airport {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.date__content {
  width: 45%;
}

input[type=date] {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.member__block__content {
  width: 30%;
}

.member {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

button {
  width: 30%;
  height: 50px;
  font-size: 1.5rem;
  margin-top: 60px;
  border-radius: 5px;
  background: linear-gradient(#217484, #0b4e5b);
  color: white;
}

.button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .booking__content {
    margin: 0 20px;
  }

  .airport,
.member,
input[type=date] {
    height: 40px;
  }

  .airport__block,
.date__block,
.member__block {
    margin-top: 10px;
  }

  .airport__block__content,
.date__content,
.member__block__content {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .airport__block,
.date__block,
.member__block {
    flex-direction: column;
  }

  .airport,
.member,
input[type=date] {
    height: 35px;
  }
}
.carousel {
  width: 100%;
}

.carousel div {
  width: 100%;
  height: 500px;
}
.carousel div img {
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .carousel div {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 900px) {
  .carousel div {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .carousel div {
    width: 100%;
    height: 150px;
  }
}
.explore {
  margin-bottom: 70px;
}

.explore__title {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px 0;
  font-size: 2em;
  color: #217484;
}

.explore__content {
  max-width: 1100px;
  margin: 0 auto;
}

.explore__selectors ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.explore__selectors ul li {
  width: 50%;
  text-align: center;
  border-right: 1px #464646 solid;
}
.explore__selectors ul .explore__first {
  border-left: 1px #464646 solid;
}

.explore__block {
  padding-top: 50px;
}

.explore__block__text {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  width: 320px;
}

.explore__block__text :nth-last-child(1) {
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
}

.explore__slide {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 14px;
}

.instruction {
  width: 100%;
  background-color: #f2f2f2;
}

.instruction__title {
  display: flex;
  justify-content: center;
  padding: 70px 0 50px 0;
  font-size: 2em;
  color: #217484;
}

.instruction__container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.instruction__content {
  text-align: center;
}
.instruction__content li {
  list-style: none;
}
.instruction__content p {
  font-size: 18px;
  padding: 15px 0;
}
.instruction__content li {
  font-size: 14px;
  padding: 10px 0;
}

.instruction__text__underline {
  width: 40px;
  height: 2px;
  background-color: #464646;
  position: relative;
  left: 42%;
}

.more {
  text-decoration: underline #464646;
}

/*# sourceMappingURL=style.css.map */
